{% load static %}
<div class="sidebar d-flex flex-column flex-shrink-0 text-center"
     style="width: 280px; height: calc(100vh - 88px); overflow: hidden; position: fixed;">
    <ul class="flex-column">
        <li>
            <a href="{% url 'dashboard' %}" class="nav-link d-flex align-items-center justify-content-start {% if request.path == '/' %}active{% endif %}">
                {% if request.path == '/' %}<img src="{% static 'assets/dashboardLight.svg' %}" alt="Dashboard" class="img-fluid me-2 active-icon" style="width: 24px;">{% else %}<img src="{% static 'assets/dashboard.svg' %}" alt="Dashboard" class="img-fluid me-2 default-icon" style="width: 24px;">{% endif %}
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'ph' %}" class="nav-link d-flex align-items-center justify-content-start {% if request.path == '/ph/' %}active{% endif %}">
                {% if request.path == '/ph/' %}<img src="{% static 'assets/phLight.svg' %}" alt="pH" class="img-fluid me-2 active-icon" style="width: 24px;">{% else %}<img src="{% static 'assets/ph.svg' %}" alt="pH" class="img-fluid me-2 default-icon" style="width: 24px;">{% endif %}
                pH
            </a>
        </li>
        <li>
            <a href="{% url 'temperatura' %}" class="nav-link d-flex align-items-center justify-content-start {% if request.path == '/temperatura/' %}active{% endif %}">
                {% if request.path == '/temperatura/' %}<img src="{% static 'assets/tempLight.svg' %}" alt="temperatura" class="img-fluid me-2 active-icon" style="width: 24px;">{% else %}<img src="{% static 'assets/temperature.svg' %}" alt="pH" class="img-fluid me-2 default-icon" style="width: 24px;">{% endif %}
                Temperatura
            </a>
        </li>
        <li>
            <a href="{% url 'tds' %}" class="nav-link d-flex align-items-center justify-content-start {% if request.path == '/tds/' %}active{% endif %}">
                {% if request.path == '/tds/' %}<img src="{% static 'assets/tdsLight.svg' %}" alt="tds" class="img-fluid me-2 active-icon" style="width: 24px;">{% else %}<img src="{% static 'assets/solidosDisueltos.svg' %}" alt="pH" class="img-fluid me-2 default-icon" style="width: 24px;">{% endif %}
                Solidos Disueltos
            </a>
        </li>
    </ul>
</div>