body {
    font-family: 'Lato', sans-serif;
    background: #E7ECEF !important;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

nav, nav * {
    background-color: #F8F8FB;
    color: #516F91 !important;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    margin: 1.2rem 0;
}

.sidebar ul li a {
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    font-weight: 600;
}

.sidebar ul li a:not(.active), .sidebar-footer a {
    color: #274C77;
}

a.active {
    background-color: #274C77;
    color: white !important;
}

a.active:hover {
    color: white !important;
    background-color: #1E3A5F;
}

.content {
    flex: 1; /* El contenido principal ocupa el resto del espacio */
    overflow-y: auto; /* Permite scroll solo en el contenido principal */
    margin-left: 280px;
}

.dashboard-card-title {
    color: #274C77;
}

.vel-motor-text, .caudal-text, .tds-text {
    font-size: 2rem;
    color: #516F91;
}

.ph-status p {
    padding: 0.2rem 0.5rem;
}

.ph-alcalino {
    color: #00B2FF;
}

.ph-neutro {
    color: #879CB3;
}

.ph-acido {
    color: #FF7A00;
}

.ph-status .active {
    border: 1px solid #6155E8;
    border-radius: 10px;
}

.tds-segment {
    flex: 1; /* Cada segmento ocupa el mismo espacio */
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
    font-weight: bold;
    color: #000;
    border-right: 1px solid #fff; /* Línea divisoria entre segmentos */
    display: flex;
    flex-direction: column; /* Alinea el valor y la leyenda en columna */
    justify-content: center;
    align-items: center;
}

.tds-segment:last-child {
    border-right: none; /* Elimina la línea del último segmento */
}

.tds-value {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.tds-legend {
    font-size: 0.8em;
    color: #555;
    text-align: center;
}

.tds-label {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}