body {
    font-family: 'Lato', sans-serif;
    background: #E7ECEF;
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

nav, nav * {
    background-color: #F8F8FB;
    color: #516F91 !important;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    margin: 1.2rem 0;
}

.sidebar ul li a {
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    font-weight: 600;
}

.sidebar ul li a:not(.active), .sidebar-footer a {
    color: #274C77;
}

a.active {
    background-color: #274C77;
    color: white !important;
}

a.active:hover {
    color: white !important;
    background-color: #1E3A5F;
}

.nav-link:not(.active) img {
    filter: invert(31%) sepia(96%) saturate(746%) hue-rotate(191deg) brightness(92%) contrast(89%);
}

.content {
    flex: 1; /* El contenido principal ocupa el resto del espacio */
    overflow-y: auto; /* Permite scroll solo en el contenido principal */
    background: #E7ECEF;
    margin-left: 280px;
}

.dashboard-card-title {
    color: #274C77;
}

.ph-text, .temperature-text, .tds-text {
    font-size: 2rem;
    color: #516F91;
}

.ph-status p {
    padding: 0.2rem 0.5rem;
}

.ph-alcalino {
    color: #00B2FF;
}

.ph-neutro {
    color: #879CB3;
}

.ph-acido {
    color: #FF7A00;
}

.ph-status .active {
    border: 1px solid #6155E8;
    border-radius: 10px;
}