{% extends 'base.html' %}
{% load custom_filters %}
{% load static %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Contenido de la columna principal -->
                <div class="row mb-3 align-items-stretch">
                    <div class="col-md-6 col-sm-12 d-flex flex-wrap">
                        <!-- Primera columna de la primera fila -->
                        <div class="card border-0 flex-fill d-flex">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="dashboard-card-title fw-bold">
                                        Velocidad del Motor
                                    </h5>
                                    <img
                                        src="{% static 'assets/more-arrow.svg' %}"
                                        alt="More Arrow"
                                        class="img-fluid"
                                        width="20"
                                    />
                                </div>
                                <div
                                    class="row text-center align-items-center justify-content-center"
                                >
                                    <div
                                        class="col-md-4 d-flex justify-content-center align-items-center"
                                    >
                                        <img
                                            src="{% static 'assets/motor.svg' %}"
                                            alt="pH Icon"
                                            class="img-fluid"
                                            width="100"
                                        />
                                    </div>
                                    <div
                                        class="col-md-6 d-flex justify-content-center align-items-center"
                                    >
                                        <p class="vel-motor-text fw-bold" id="last_velocidad_motor">{{ last_velocidad_motor }} rpm</p>
                                    </div>
                                    <div
                                            class="col-md-2 d-flex flex-column justify-content-center align-items-center"
                                    >
                                        <button
                                                class="btn btn-sm mb-1"
                                                onclick="changeTemperatureUnit('up')"
                                        >
                                            <img
                                                    src="{% static 'assets/up-arrow.svg' %}"
                                                    alt="Up Arrow"
                                                    width="16"
                                            />
                                        </button>
                                        <button
                                                class="btn btn-sm"
                                                onclick="changeTemperatureUnit('down')"
                                        >
                                            <img
                                                    src="{% static 'assets/down-arrow.svg' %}"
                                                    alt="Down Arrow"
                                                    width="16"
                                            />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex">
                        <!-- Segunda columna de la primera fila -->
                        <div class="card border-0 flex-fill d-flex">
                            <div class="card-body d-flex flex-column">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="dashboard-card-title fw-bold">
                                        Caudal
                                    </h5>
                                    <img
                                        src="{% static 'assets/more-arrow.svg' %}"
                                        alt="More Arrow"
                                        class="img-fluid"
                                        width="20"
                                    />
                                </div>
                                <div
                                        class="flex-fill d-flex align-items-center justify-content-center gap-3"
                                >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img
                                            src="{% static 'assets/caudal.svg' %}"
                                            alt="Caudal Icon"
                                            class="img-fluid"
                                            width="70"
                                        />
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <p class="caudal-text fw-bold mb-0" id="last_caudal">
                                            {{ last_caudal }} L/s
                                        </p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <!-- Primera columna de la segunda fila -->
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="dashboard-card-title fw-bold">
                                        Contador de Botellas
                                    </h5>
                                    <img
                                        src="{% static 'assets/more-arrow.svg' %}"
                                        alt="More Arrow"
                                        class="img-fluid"
                                        width="20"
                                    />
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img
                                                src="{% static 'assets/botella.svg' %}"
                                                alt="Botella Icon"
                                                class="img-fluid"
                                                width="50"
                                        />
                                    </div>
                                    <div class="col-md-8 d-flex align-items-center">
                                        <p class="tds-text fw-bold mb-0" id="last_tds">{{ last_tds }} ppm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Segunda columna de la segunda fila -->
                        <div class="card border-0">
                            <div class="card-body">
                                <h5 class="dashboard-card-title fw-bold">
                                    Conductividad Electrica
                                </h5>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img
                                                src="{% static 'assets/ecImage.svg' %}"
                                                alt="Sólidos Disueltos Icon"
                                                class="img-fluid"
                                                width="100"
                                        />
                                    </div>
                                    <div class="col-md-8 d-flex align-items-center">
                                        <p class="tds-text fw-bold mb-0" id="last_ec">{{ last_ec }} mS/cm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <!-- Columna única de la tercera fila -->
                        <div
                                class="card border-0 rounded-4 p-0"
                                style="margin: 0 auto"
                        >
                            <div class="card-body p-0">
                                <div
                                        id="carouselExample"
                                        class="carousel slide"
                                        data-bs-ride="carousel"
                                >
                                    <div class="carousel-inner">
                                        {% for suggestion in suggestions %}
                                            <div
                                                    class="carousel-item {% if forloop.first %}active{% endif %}"
                                            >
                                                <img
                                                        src="{{ suggestion.image.url }}"
                                                        class="d-block w-100 rounded-4"
                                                        alt="Imagen {{ forloop.counter }}"
                                                        style="object-fit: cover; width: 100%; height: 350px"
                                                />
                                                <div
                                                        class="carousel-caption d-none d-md-block rounded-bottom-4 py-2"
                                                >
                                                    <h3 class="fw-bold mb-3">
                                                        {{ suggestion.title }}
                                                    </h3>
                                                    <h5 class="fw-bold mb-3">
                                                        {{ suggestion.subtitle }}
                                                    </h5>
                                                    <p>{{ suggestion.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button
                                            class="carousel-control-prev"
                                            type="button"
                                            data-bs-target="#carouselExample"
                                            data-bs-slide="prev"
                                    >
                    <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                    ></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </button>
                                    <button
                                            class="carousel-control-next"
                                            type="button"
                                            data-bs-target="#carouselExample"
                                            data-bs-slide="next"
                                    >
                    <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                    ></span>
                                        <span class="visually-hidden">Siguiente</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Contenido de la columna secundaria -->
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="dashboard-card-title fw-bold">Observaciones del monitoreo</h5>
                        <div id="observations-container">
                            {% for observation in observations %}
                                <div class="mb-2">
                                    <div class="d-flex align-items-center">
                                <span
                                        class="rounded-circle me-2"
                                        style="display:inline-block; width:12px; height:12px; background-color: hsl({{ forloop.counter0|add:"1"|mul:"60" }}, 70%, 55%);"
                                ></span>
                                        <span class="fw-bold"
                                              style="color: #516F91; flex: 1;">{{ observation.text }}</span>
                                    </div>
                                    <div class="d-flex justify-content-start">
                                    <span class="ms-4 text-muted"
                                          style="white-space: nowrap; color: #879CB3">{{ observation.timestamp }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h5 class="dashboard-card-title fw-bold mb-0">Panel de acceso rápido</h5>
                            <div class="form-check form-switch ms-2" style="transform: scale(1.2);">
                                <input class="form-check-input" type="checkbox" id="auto-mode-toggle"
                                       style="width: 2em;">
                                <label id="auto-mode-label" class="form-check-label fw-bold dashboard-card-title"
                                       for="auto-mode-toggle" style="font-size: 1rem;">Auto</label>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/motores.svg' %}" alt="Motor 1" width="32" class="me-2"/>
                                    <span class="fw-bold dashboard-card-title">Motor de pH alcalino</span>
                                </div>
                                <div class="form-check form-switch" style="transform: scale(1.5);">
                                    <input class="form-check-input" type="checkbox" id="motor-ph-alcalino-toggle"
                                           style="width: 2em;">
                                    <label class="form-check-label" for="motor-ph-alcalino-toggle"></label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/motores.svg' %}" alt="Motor 2" width="32" class="me-2"/>
                                    <span class="fw-bold dashboard-card-title">Motor de pH acido</span>
                                </div>
                                <div class="form-check form-switch" style="transform: scale(1.5);">
                                    <input class="form-check-input" id="motor-ph-acido-toggle" type="checkbox"
                                           style="width: 2em;">
                                    <label class="form-check-label" for="motor-ph-acido-toggle"></label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/motores.svg' %}" alt="Motor 3" width="32" class="me-2"/>
                                    <span class="fw-bold dashboard-card-title">Motor de tDS altos</span>
                                </div>
                                <div class="form-check form-switch" style="transform: scale(1.5);">
                                    <input class="form-check-input" type="checkbox" id="motor-tds-altos-toggle"
                                           style="width: 2em;">
                                    <label class="form-check-label" for="motor-tds-altos-toggle"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} {% block custom_scripts %}
    <script src="{% static 'scripts/ph_indicator.js' %}"></script>
    <script src="{% static 'scripts/get_observations.js' %}"></script>
    <script src="{% static 'scripts/motors.js' %}"></script>
{% endblock %}
